<%= form_for [@requisition, @req_comment] do |form| %>
<fieldset>
  <legend><%= t 'req_com.new_title' %></legend>
	
  <%= render :partial => 'form', :object => form %>

  <p>
    <%= submit_tag t('create') %>
  </p>
</fieldset>
<% end %>


