<!-- partial to show summary information about contracts as part
  of the requisition screen. called once for each contract.
  formatting all a bit crap at the moment!              -->
<h3>Contracts for this requisition:</h3>
<table>
  <tr class="list-header">
    <th>Commodity</th>
    <th>Reference</th>
    <th>Commence date</th>
    <th>Supplier</th>
    <th>Currency</th>
    <th>Value current</th>
    <th>Delivery terms</th>
    <th>Delivery date contract</th>
    <th>Delivery date forecast</th>
	<th>Action</th>
  </tr>
