/* projectcontrol.css  */
body { background-color: #fff; color: #333; }

body, p  {
  background: #ffffff;
  font-family: verdana,helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 5px;
  padding: 0;}

img {
  border:0;
  display:block;}

div {
  padding: 2px;
  width: 100%;
  }

em {
  font-weight: bold;
  }

table {
  border-collapse: collapse;
  }
h1 {
  text-align: center;
  margin: 5px 5px 10px 10px;
  }

/* -- general stuff -- */

.tcenter {
  text-align: center;
  }


/* -- specific boxes used on application-wide layout -- */
#header {
  width: 100%;
  height: 50px;
  }

#logo {
  float: left;
  width: 50px;
  }

#logo_name {
  float: left;
  width: 300px;
  }


#header_menu {
  clear: both;
  background: #ccffcc ;
  height: 20px;
  margin: 0px 0px 5px 0px; 
  }

#user_project_banner {
  float: right;
  text-align: right;
  height: 30px;
  width: 600px;
  }

/* overall div to enclose page specific stuff */
#content {
  clear: both;
  /* border: 2px solid #f0f; */
  }

#about {
  border: 1px solid blue;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  }
/* -- end of overall stuff --- */

/* -- login box -- */
#login-box {
  margin: 0px 0px 50px 0px; 
  }

#login-box table {
  margin: 0 auto;
  /* border: 1px solid red; */
  }


/* -- for menu block in the main menu -- */
#main-menu {
  font-size: 18px;
  line-height: 130%;
  padding: 20px 0px 10px 100px;
  /* border: 1px solid cyan; */
  }

/* for form-looking stuff */
#form-leftcolumn {
  float: left;
  width: 48%;
  /*border: 1px solid purple; */
  }

#form-rightcolumn {
  float: left;
  width: 48%;
  /* left: 50%; */
  /* border: 1px solid yellow; */
  }

.form-row-1 {
  height: 25px;
  width: 800px;
  /* border: 1px solid red; */
  padding: 2px;
  }

.form-row-1-em {
  height: 25px;
  width: 800px;
  padding: 0px;
  font-weight: bold;
  }

.form-row-1-label {
  float: left;
  width: 200px;
  text-align: right;
  padding: 0px 10px 0px 0px;
  font-weight: bold;
  /* border: 1px solid blue; background-color: pink; */
  }

.form-row-1-data {
  float: left;
  width: 220px;
  height: 20px;
  text-align: left;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid green; background-color: yellow; */
  }

.form-row-1-data-2h {
  float: left;
  width: 220px;
  height: 40px;
  text-align: left;
  padding: 0px 0px 0px 0px;
  }

/* table-based 'show' pages */
.show-table {
  margin: 0px 0px 0px 20px;
  }

.show-table-label {
  text-align: right;
  font-weight: bold;
  padding: 5px 10px 0px 0px;
  /* border-bottom: 1px dotted silver; */
  }

.show-table-data {
  padding: 5px 10px 0px 0px;
  border-bottom: 1px dotted silver;
  }

.show-table-number {
  padding: 5px 10px 0px 0px;
  border-bottom: 1px dotted silver;
  text-align: right;
  }


/* for the contracts and comments on the "show" requisition page */
#req-contracts {
  clear: both;
  /* border: 1px solid #0ff; */
  }

/* comments partial */
.comment-box {
  clear: both;
  /* border: 1px solid silver; */
  margin: 5px 5px 5px 5px;
  }

.comment-caption {
  clear: both;
  font-style: italic;
  }

.comment-leftcolumn {
  float: left;
  width: 40%;
  padding: 0px 0px 0px 30px;
  /* border: 1px solid #f70; */
  }

.comment-rightcolumn {
  float: left;
  width: 30%;
  /* color: red;
  border: 1px solid green; */
  }

/* for the filter boxes on the requisition index pages */
.requisition-filter {
  float: left;
  width: 300px;
  padding: 0px 0px 10px 0px;
  /*border: 1px solid green;
  background-color: yellow; */
  }

.requisition-table {
  clear: both;
  }

#contract-header {
  width: 700px;
  border: 1px solid green;
  margin: 0px 0px 5px 50px;
  padding: 0px 0px 15px 15px; 
  }

/* for links at bottom of page */
#form-navigation {
  clear: both;
  padding: 20px 0px 0px 0px;
  }

/* rails standard stuff */
#footer {
  font-size: 10px;
  font-style: italic;
  text-align: center;
  }

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font-weight: bold;
  font-family: sans-serif ;
  }
  
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* tables for listings on index pages */
.list-table {
  }

.list-header {
  background-color: #ccc;
  border: 1px solid silver ;
  }

.list-line-odd {
  background-color: #fff;
  }

.list-line-even {
  background-color: #eee;
  }

.list-cell {
  border: 1px solid silver;
  padding: 2px 4px 2px 4px;
  }
.list-cell-number {
  border: 1px solid silver;
  text-align: right;
  }

.list-cell-vert {
  border: 1px solid silver;
  }
.list-cell-total {
  border: 1px solid silver;
  text-align: right;
  font-weight: bold;
  }

.vdocs-table {
  width: 95%;
  border: 2px solid #faa;
  margin: 0px 10px 0px 30px;
  }

.vdocs-header {
  background-color: #fdd;
  font-style: italic;
  }
/* styles for plupload stuff */
#vendor_doc_submit {
  display: none;
  }

#vendor_doc_document {
  display: none;
  }
