<h1>Listing of available Roles</h1>
<table class="item-table">
  <tr class="list-header">
    <th class="list-cell">ID</th>
	<th class="list-cell">Name</th>
	<th class="list-cell">Rights</th>
  </tr>

<% @roles.each do |role| %>
  <tr class="<%= cycle('list-line-odd','list-line-even') %>">
    <td valign="top" class="list-cell"><%=h role.id %></td>
	<td valign="top" class="list-cell"><%=h role.name %></td>
    <td class="list-cell">
	   <% unless role.rights.empty? %>
	     <table>
	        <%= render :partial => "/rights/right",
			    :collection => role.rights %>
	     </table>
	   <% end %>
	 &nbsp;</td>
  </tr>
<% end %>

<hr />
	   
