<h1>ProjectControl Application</h1>

<p>This is an application to provide some central access to members of a project team
to essential day-to-day project information that supports keeping a project in control.</p>

<p> It is built around the Chengdu Air &amp; Gas Project procedures, but should be 
general enough for many other projects.</p>

<p> Its a work in progress, and not the product of professional software developers. So the effort
has been concentrated in developing functionality at the expense of looking good!</p>
<br />

<p><i>Duncan</i></p>
<br />

<%= link_to "Back", :action => "index" %>

