%h1 ProjectControl Application
#about
  %p
    This is an application to provide some central data and information 
    storage to members of a project team, engaged in execution a capital
    project.
  %p
    The following functionality is covered
  %ul
    %li Requistion and Purchase order tracking
    %li
      Storage and retreival of key documents for requisitioning and purchase
      order processes
    %li
      supplier(vendor) document tracking  and storage (note, not a full vendor
      document management system
    %li recording of safety statistics and storage of incident reports
    %li tracking of service requests
    %li library of project documents (procedures, forms, templates, etc)

  %p
    It is built around the project procedures of Chengdu Air &amp; Gas
    Products,but should be general enough for many other projects.

  %p
    Its a work in progress, and not the product of professional software
    developers, and certainly not web designers with any flair! So the effort
    has been concentrated in developing functionality rather than looking good!
  %br/
  %p Duncan

  %p this version 15-Sep-2011

= link_to "Back", :action => "index"

