<h1> debug info</h1>

<h2>session info:</h2>
<p>session[:project] = +<%= session[:project] %>+</p>
<p>session[:username] = +<%= session[:username] %>+</p>
<p>session[:user_id] = +<%= session[:user_id] %>+</p>

</pre>
<p> end.....</p>


