<!-- dummy header menu - not to be used -->
<div id="header_menu">
  <table width="100%"><tr>
    <td><%= link_to "Home", :root %></td>
	<td>Requisitions</td>
	<td>Expediting</td>
	<td>Service Requests</td>
	<td><%= link_to "logout", :logout %>
  </tr></table>
</div>


